
body {
  margin: 0;
  font-family: 'Cuprum','PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  background: #ffffff;
}

a {
  text-decoration: none
}


/* Header */

.logo {
  font: inherit;
  vertical-align: middle;
  background-color: #ee3643;
  border: none
}

.logo:hover,
.logo:focus {
 color: #f1c7ca;
 background: #ca2c37;
}

.logo:active {
  color: #ffffff;
  background: #ba2732;
}

.navigation {
  background-color: #f3f7f9;
}

.header-form {
  color: #ffffff;
  background-color: #293449;
}

.header_form {
text-align: right;
}


.header-info {
 font-size: 16px;
 line-height:23px;
 color: #ee3643;
}

.phone{
 font-size: 21px;
 line-height: 21px;
 color: #ee3643;
}

.address{
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.search-button {
 font: inherit;
 color: #ffffff;
 text-align: left;
 vertical-align: middle;
 text-transform: uppercase;
 background-color: #293449;
 border: none;
}

.bookmarks-button,
.cart-button {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #293449;
  border: none;
}
.cart-button.top-button-current {

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
}

.user-button{
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}

.checkout-button {
   font: inherit;
   text-align: center;
   color: #ffffff;
   vertical-align: middle;
   text-transform: uppercase;
   background-color: #63a63e;
   border: none;
}
.checin-button {
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}

.checin-button:hover,
.checin-button:focus {
  color: #ee3643;
  background: #ffffff;

}

.checin-button:active {
 color: #c5c5c5;
 background: #ffffff;
}

.search-button:hover,
.bookmarks-button:hover,
.cart-button:hover,
.search-button:focus,
.bookmarks-button:focus,
.cart-button:focus {
  color: #ffffff;
  background: #212a3a;
}

.bookmarks-button:active,
.cart-button:active {
  color: #a2a5a9;
  background: #161d29;
}

.checkout-button:hover,
.checkout-button:focus {
   color: #ffffff;
   background: #5fbb2d;
}

.checkout-button:active {
   color: #a8c29a;
   background: #518534;
}


.user-nav a {
 color: #32425c;
 text-decoration: underline;
}
.user-list  {
 list-style: none;
}

.user-nav a:hover,
.user-nav a:focus {
  color: #ef767f;

}
.user-nav li:active {
  color: #c5c5c5;

}

.checin-button:hover,
.checin-button:focus {
  color: #ee3643;
  background: #ffffff;
}


.checin-button:active {
  color: #c5c5c5;
  background: #ffffff;
}

.checkout-button:hover,
.checkout-button:focus {
 color: #ffffff;
 background: #5fbb2d;
}

.checkout-button:active {
 color: #a8c29a;
 background: #518534;
}

.site-navigation {
 font-size: 17px;
 line-height:17px;
 list-style: none;
 background-color: #32425c;
 text-align: center;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #ffffff;
  background: #293449;
}

.site-navigation a:active {
  color: #8e939c;
  background: #1d2739;
}


/* MAIN  */


.main-navigation {
  font-size: 24px;
  line-height:30px;
  font-weight: 700;
  list-style: none;
  color: black;
  background: grey;
}

.Popular,
.all-goods,
.perforator {
  font-size: 30px;
  line-height: 30px;
  background-color: #f9f5f0;
}
.list,
.list-delivery,
.navigation-items {
  list-style: none;
}
.Services,
.info {
background-color: #f4f7f9;
}

.delivery,
.warranty,
.credit {
 font-size: 36px;
 line-height: 34px;
 font-weight: 400;
 color: #32425c;
}

.contacts,
.left-seservice,
.company-tech,
.words {
 font-size: 30px;
 line-height: 30px;
 font-weight: 400;
 color: #000000;
}

.left,
.tech,
.unversal {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.list-delivery {
  font-size: 18px;
  line-height: 20px;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}


.filter,
.sidebar,
.navigation-items,
.sort,
.price,
.filter,
.type,
.functional,
.dir {
font-family: "PT sans",sans-serif;
 font-size: 13px;
 line-height: 18px;
 color: black;
 background-color: #f7f3ec;
}

.navigation-items.background-true {
background: #ffffff;
}
.shape {
  background-color: #f1f1f1;
}
.shape-button {
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  background-color: #f1f1f1;
  border: none;
}
.show-button {
  font: inherit;
  text-align: center;
  color: #00000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #00000;
}
/* FOOTER  */


.main-footer {
 background-color: #32425c;
}

.contacts {
 font-size: 18px;
 line-height: 24px;
 color: #ffffff;
}

.footer-navigation a {
  color: #ffffff;
}

.footer-nav a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-nav a:hover,
.footer-nav a:focus {
text-decoration: underline;
}

.footer-navigation a:active {
  color: #788495;
}

.footer-nav a:active {
  color: #767268;
}

.footer-social {
  background-color: #293449;
}

.social-botton {
  list-style: none;
}

.footer-social {
 font-family: 'Cuprum', sans-serif;
 font-size: 16px;
 line-height: 18px;
 font-weight: 400;
 color: #ffffff;
}

.feedback,
.copyrait  {
  color: #ffd180;
}
.social-botton {
  border-radius: 20px 20px;
  border: none;
  background-color: red;
}
